<div class="pt-3">
    <div class="jumbotron">
        <h1 class="display-4">Suche</h1>
        <p class="lead">Hier kannst du offizielle Informationen durchsuchen und finden.</p>
        <hr class="my-4">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Suchbegriff</span>
            </div>
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
</div>
