<div class="container-fluid pt-3 pb-3">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div id="search-filters" class="pt-3 text-center">
                    <span *ngFor="let filter of filters; index as i; first as isFirst">
                        <button type="button" class="btn btn-sm btn-outline-secondary mr-2 ml-2" (click)="toggleFilter(filter)">{{filter}}</button>
                    </span>
                </div>
                <div id="search-selected-filters" class="pb-1 text-right">
                    <span *ngFor="let selectedFilter of selectedFilters; index as i; first as isFirst">
                        <span class="badge badge-light mr-2 ml-2">
                            {{selectedFilter}} <span (click)="toggleFilter(selectedFilter)">
                                <svg class="bi bi-x-circle" width="0.7em" height="0.7em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                                  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                </svg>
                            </span>
                        </span>
                    </span>
                    <span *ngIf="this.selectedFilters === undefined || this.selectedFilters.length == 0">
                        <span class="text-secondary small mr-2 ml-2"><i>Es wurde noch kein Filter selektiert.</i></span>
                    </span>
                </div>
                <div id="search-iput" class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Suchbegriff</span>
                    </div>
                    <input #search type="text"
                           class="form-control text-center"
                           aria-label="search-field"
                           aria-describedby="inputGroup-sizing-sm"
                           placeholder="Bitte geben Sie hier Ihren Suchbegriff ein..."
                           (keyup)="onKey($event)">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="search-result-header" class="pt-2 text-center">
                <h2>Neuste Beiträge</h2>
                <hr class="my-2">
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="previewArticles.length == 0" class="col text-center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container-fluid">
                    <h1 class="display-4">Loading...</h1>
                </div>
            </div>
        </div>
        <div *ngFor="let article of previewArticles.slice(0, 2); index as i; first as isFirst" class="col">
            <div class="pt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{article.headline}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{article.identifier}}</h6>
                        <p class="card-text">{{article.content.substring(0, 200)}} <i>[...]</i></p>
                        <a href="#" class="card-link">Artikel lesen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
